.page {
  font-family: Actay, Arial, sans-serif;
  background: linear-gradient(90deg, #CBFFF6 0%, #81DECD 98.44%);
  box-sizing: border-box;
  color: #4D5164;
  --content-width: 1440px;
}

.header {
  position: relative;
  min-height: 904px;
  background: url(./images/cloud_top.png) no-repeat,
    url(./images/dots.svg) no-repeat top 131px left 504px;
  max-width: var(--content-width);
  margin: 0 auto;
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 494px;
  height: 639px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  margin-left: 118px;
  z-index: 2;
  border: 1px solid rgb(232, 250, 246);
}

.header__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(7.5px);
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  z-index: -1;
}

.header__logos {
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin-top: 47px;
  align-items: center;
}

.header__logo-1 {
  text-decoration: none;
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #4D5164;
}

.header__logo-2 {
  width: 57px;
  height: 28px;
}

.header__title {
  margin: 88px 0 0;
  max-width: 370px;
  font-weight: 700;
  font-size: 36px;
  line-height: 135.19%;
}

.header__title-right {
  float: right;
}

.header__subtitle {
  max-width: 312px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin: 51px 0 0;
}

.header__button {
  margin-top: 64px;
  font-weight: 700;
  font-size: 32px;
  line-height: 135.19%;
  width: 398px;
}

.button {
  padding: 0;
  border-radius: 45px;
  color: #FFF;
  background-color: #FFF;
  border: none;
  cursor: pointer;
  height: 86px;
  transition: background-color .5s ease;
}

.button_dark {
  background-color: #4D5164;
}

.button_dark:hover {
  background-color: #303964;
}

.header__picture {
  position: absolute;
  top: 61px;
  right: 17px;
  z-index: 0;
}

.header__dots {
  position: absolute;
  bottom: -75px;
  left: -32px;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}

.about {
  max-width: 1057px;
  margin: 20px auto 165px;
  position: relative;
}

.about__title {
  max-width: 566px;
  font-weight: 700;
  font-size: 40px;
  line-height: 135.19%;
  margin: 0 0 56px;
}

.about__description {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 117.5%;
  max-width: 592px;
}

.about__server-pic {
  position: absolute;
  top: -79px;
  right: -147px;
}

.about__comp-pic {
  position: absolute;
  bottom: -110px;
  right: -84px;
}

.offer {
  max-width: 1200px;
  margin: 0 auto 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.offer__title {
  background-color: #FFF;
  border-radius: 90px;
  padding: 46px 24px 37px 82px;
  font-weight: 700;
  font-size: 48px;
  line-height: 135.19%;
  width: 982px;
  text-align: start;
  margin: 0;
}

.offer__list {
  max-width: 861px;
  padding: 37px 22px 27px 64px;
  margin: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  position: relative;
  border: 1px solid rgb(232, 250, 246);
}

.offer__list::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(7.5px);
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  z-index: -1;
}

.offer__list-item {
  display: flex;
  align-items: center;
  min-height: 51px;
  margin-bottom: 17px;
}

.offer__icon {
  margin-right: 55px;
}

.offer__text {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.offer__contact {
  margin-top: 37px;
  width: 946px;
  display: flex;
  justify-content: space-between;
}

.offer__questions {
  margin: 0;
  color: #4D5164;
  width: 512px;
  text-align: center;
  background-color: #FFF;
  padding: 29px 69px 29px 67px;
  border-radius: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135.19%;
  color: #000000;
}

.offer__button {
  font-weight: 700;
  font-size: 24px;
  line-height: 135.19%;
  padding: 29px 63px;
}

.offer__dots-1 {
  position: absolute;
  right: -105px;
  bottom: 235px;
  z-index: -2;
}

.offer__dots-2 {
  position: absolute;
  top: 99px;
  left: -169px;
  z-index: -2;
}

.features {
  display: flex;
  position: relative;
  min-height: 1501px;
  background: url(./images/feature__background.svg) no-repeat top 57% right 50%,
    url(./images/dots.svg) no-repeat top 117px left 59px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: var(--content-width);
  margin: 0 auto 108px;
}

.features__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 135.19%;
  text-align: center;
  max-width: 514px;
  margin: 0;
  position: relative;
  right: -156px;
}

.features__picture {
  position: absolute;
  top: 0;
  left: 237px;
}

.features__cloud-1 {
  position: absolute;
  top: -31%;
  left: -56%;
  z-index: -1;
}

.features__cloud-2 {
  position: absolute;
  bottom: 5%;
  right: 0;
  width: 38%;
  z-index: -1;
}

.features__dots {
  width: 15%;
  position: absolute;
  bottom: -4%;
  right: 5%;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__list-item {
  position: absolute;
  width: 333px;
  height: 333px;
  background-color: #FFF;
  border-radius: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__number {
  position: absolute;
  font-weight: 700;
  font-size: 101px;
  line-height: 135.19%;
  top: -56px;
  right: 55px;
}

.features__number_fifth {
  right: 218px;
}

.features__list-item_first {
  top: 172px;
  right: 239px;
}

.features__list-item_second {
  top: 547px;
  right: 123px;
}

.features__list-item_third {
  top: 646px;
  right: 498px;
}

.features__list-item_fourth {
  top: 736px;
  left: 118px;
}

.features__list-item_fifth {
  top: 1022px;
  left: 474px;
}


.features__text {
  max-width: 270px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.features__text-bold {
  font-weight: 700;
}

.features__button {
  padding-left: 82px;
  padding-right: 82px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135.19%;
  text-align: center;
}

.prices {
  background: url(./images/dots.svg) no-repeat top 52% left 6%,
    url(./images/dots.svg) no-repeat bottom 1% right 32%;
  padding-bottom: 103px;
}

.prices__title {
  margin: 0 auto 46px;
  font-weight: 700;
  font-size: 48px;
  line-height: 135.19%;
  max-width: 450px;
  text-align: center;
}

.prices__list {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.prices__card {
  position: relative;
  width: 359px;
  height: 698px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
  border-radius: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border: 1px solid rgb(196, 255, 242);
}

.prices__card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(7.5px);
  border-radius: 90px;
  z-index: -1;
}

.prices__card-title {
  margin: 47px 0 55px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135.19%;
  text-align: center;
}

.prices__card-list {
  width: 84%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.prices__card-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.prices__card-txt {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 205px;
}

.prices__card-value {
  margin: 0;
  width: 62px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  position: relative;
  text-align: center;
}

.prices__card-line {
  display: block;
  width: 200px;
  margin: 0 auto 15px;
  border: .5px solid rgba(77, 81, 100, 0.18);
}

.prices__card-value-gb {
  position: absolute;
  bottom: -61%;
  right: 37%;
  font-size: 15px;
}

.prices__card-old-price {
  margin: 19px 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 135.19%;
  text-align: center;
  align-self: flex-start;
  margin-left: 9%;
  position: relative;
}

.prices__card-old-price::before {
  position: absolute;
  bottom: 58%;
  border-bottom: 2px solid #4D5164;
  transform: rotate(12deg);
  content: "";
  width: 100%;
  height: 50%;
}

.prices__card-old-price-rub {
  font-size: 14px;
}

.prices__card-new-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
}

.prices__card-new-price {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 85.19%;
  color: #FF503E;
}

.prices__card-new-price-rub {
  font-size: 16px;
}

.prices__card-gift {
  margin: 0;
  max-width: 97px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #FF503E;
}

.prices__button {
  margin-top: 34px;
  width: 299px;
  height: 87px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135.19%;
  text-align: center;
}

.discount {
  max-width: 1124px;
  margin: 0 auto 157px;
}

.discount__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 135.19%;
  text-align: center;
  margin: 0 0 55px;
}

.discount__text {
  max-width: 837px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 117.5%;
  color: #000000;
  margin: 0 0 50px;
}

.discount__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.discount__regular {
  margin: 0;
  background: #FFFFFF;
  border-radius: 64px;
  width: 661px;
  height: 127px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135.19%;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.discount__button {
  font-weight: 700;
  font-size: 24px;
  line-height: 135.19%;
  text-align: center;
  width: 443px;
  height: 86px;
}

.calculate {
  max-width: 1194px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.calculate__title {
  margin: 0 0 37px;
  font-weight: 700;
  font-size: 64px;
  line-height: 135.19%;
  text-align: center;
}

.calculate__subtitle {
  margin: 0 0 91px;
  font-weight: 400;
  font-size: 24px;
  line-height: 117.5%;
  color: #000000;
}

.calculate__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 552px);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 90px;
  row-gap: 55px;
}

.calculate__list-item {
  position: relative;
  z-index: 1;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
  border-radius: 45px;
  min-height: 200px;
  border: 1px solid rgb(196, 255, 242);
}

.calculate__list-item_large {
  min-height: 300px;
}

.calculate__list-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(7.5px);
  border-radius: 90px;
  z-index: -1;
}

.calculate__list-item-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.calculate__list-item-content_column {
  flex-direction: column;
}

.calculate__list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
}

.calculate__list-item-title {
  margin: 0;
  max-width: 330px;
  font-weight: 400;
  font-size: 24px;
  line-height: 117.5%;
  color: #637883;
}

.calculate__form {
  width: 100%;
  height: 100%;
}

.calculate__form-fieldset {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calculate__form-container {
  position: relative;
  width: 362px;
}

.calculate__form-label {
  margin-left: 20px;
  max-width: 330px;
  font-weight: 400;
  font-size: 24px;
  line-height: 117.5%;
  color: #637883;
  margin-bottom: 59px;
}

/* Slider */

.calculate__slider {
  margin-top: 59px;
}

/* Applying base styles */

.calculate__slider[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.calculate__slider[type="range"]:focus {
  outline: none;
}

/* Styling the Thumb */

.calculate__slider[type="range"]::-webkit-slider-thumb {
  margin-top: -6px;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #4D5164;
  border-radius: 50%;
  cursor: pointer;
}

.calculate__slider[type="range"]::-moz-range-thumb {
  margin-top: -6px;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #4D5164;
  border-radius: 50%;
  cursor: pointer;
}

.calculate__slider[type="range"]::-ms-thumb {
  margin-top: -6px;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #4D5164;
  border-radius: 50%;
  cursor: pointer;
}

/*Styling the Track */

.calculate__slider[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 18px;
  background: #FFF;
  border-radius: 9px;
}

.calculate__slider[type="range"]::-moz-range-track {
  width: 100%;
  height: 18px;
  background: #FFF;
  border-radius: 9px;
}

.calculate__slider[type="range"]::-ms-track {
  width: 100%;
  height: 18px;
  background: #FFF;
  border-radius: 9px;
}

.calculate__slider[type="range"]::-ms-fill-lower {
  width: 100%;
  height: 18px;
  background: #FFF;
  border-radius: 9px;
}

/* */

.calculate__form-values {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 35px;
  text-align: center;
}

.calculate__form-value {
  width: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 117.5%;
  color: #000000;
}

.calculate__list-result {
  margin: 0;
  background-color: #FFF;
  border-radius: 20px;
  width: 88px;
  height: 88px;
  font-weight: 700;
  font-size: 26px;
  line-height: 117.5%;
  color: #4D5164;
  border: none;
  text-align: center;
}

.calculate__list-result::-webkit-outer-spin-button,
.calculate__list-result::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculate__list-result:focus {
  border: none;
  outline: none;
}

.calculate__checkbox-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.calculate__checkbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 90%;
  margin: 0;
  padding: 0;
  border: none;
  align-items: center;
  justify-content: space-between;
}

/* Checkbox*/

.calculate__checkbox {
  position: relative;
  width: 91px;
  height: 87px;
  border-radius: 20px;
}

.calculate__checkbox-input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.calculate__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  border-radius: 20px;
  transition: all .5s ease;
  cursor: pointer;
}

.calculate__checkmark:hover {
  box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
}

.calculate__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 26%;
  top: -4%;
  width: 35px;
  height: 60px;
  border: solid #4D5164;
  border-width: 0 10px 10px 0;
  transform: rotate(41deg);
}

.calculate__checkbox-input[type="checkbox"]:checked~.calculate__checkmark::after {
  display: block;
}



.calculate__list-item-title-bold {
  font-weight: 700;
  font-size: 36px;
  line-height: 117.5%;
  color: #4D5164;
  margin: 30px 0 0;
}

.calculate__list-item-price {
  margin: 0;
  font-weight: 700;
  font-size: 96px;
  line-height: 117.5%;
  color: #FF503E;
}

.calculate__list-item-price::after {
  content: "руб";
  font-size: 16px;
  color: #FF503E;
  line-height: 117.5%;
  font-weight: 700;
}

.calculate__button {
  margin: 63px 0 0;
  width: 552px;
  height: 86px;
  font-weight: 700;
  font-size: 36px;
  line-height: 135.19%;
  text-align: center;
  align-self: end;
}

.footer {
  max-width: var(--content-width);
  margin: 0 auto;
  min-height: 635px;
  position: relative;
  background: url(./images/cloud.png) no-repeat top -23% right 0;
}

.footer__container {
  position: relative;
  right: -162px;
  max-width: 898px;
  margin: 168px auto 0;
}

.footer__title {
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 48px;
  line-height: 135.19%;
  text-align: center;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 434px;
  height: 298px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
  border-radius: 45px;
  border: 1px solid rgb(196, 255, 242);
}

.footer__contacts::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(7.5px);
  border-radius: 90px;
  z-index: -1;
}

.footer__info {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 135.19%;
  color: #000000;
}

.footer__social-icons {
  margin: 21px 0 34px;
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.footer__social-icon {
  width: 32px;
  height: 32px;
  transition: opacity .4s ease;
}

.footer__social-icon:hover {
  opacity: .6;
}

.footer__address {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 135.19%;
  max-width: 337px;
}

.contacts__form {
  width: 434px;
}

.contacts__form-container {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

.contacts__input {
  width: 94%;
  background: rgba(255, 255, 255, .2);
  box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
  border-radius: 90px;
  height: 66px;
  border: 1px solid rgb(196, 255, 242);
  padding: 0 0 0 24px;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 135.19%;
  color: #000000;
  outline: none;
  transition: all .5s ease-in-out;
}

.contacts__input_white {
  background-color: #FFF;
}

.footer__input:focus {
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid rgb(255, 255, 255);
}

.contacts__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 135.19%;
  color: rgba(77, 81, 100, .39);
}

.contacts__input[type="number"]::-webkit-outer-spin-button,
.contacts__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contacts__form-button {
  width: 100%;
  height: 66px;
  box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
  font-weight: 700;
  font-size: 18px;
  line-height: 135.19%;
}

.button_orange {
  background: #FF503E;
}

.button_orange:hover {
  background: #940f00;
}

.footer__picture {
  position: absolute;
  left: -122px;
  bottom: 0;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .1);
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup_opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visability .6s, opacity .6s ease;
  -o-transition: visability .6s, opacity .6s ease;
  transition: visability .6s, opacity .6s ease;
}

.popup__container {
  position: relative;
  width: 1153px;
  min-height: 726px;
  z-index: 4;
  display: flex;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.61);
  box-shadow: -11px 23px 42px 41px rgba(0, 0, 0, 0.05);
  border-radius: 90px;
}

.popup__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(43.5px);
  border-radius: 90px;
  z-index: -1;
}

.popup__man-pic {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 410px;
  z-index: 2;
}

.popup__dots {
  position: absolute;
  width: 270px;
  left: 203px;
  top: 115px;
}

.popup__content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 117px;
}

.popup__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 135.19%;
  text-align: center;
}

.popup__text {
  max-width: 345px;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
}

.popup__close-button {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(./images/close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  background-color: transparent;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1439px) {

  .page {
    --content-width: 1024px;
  }

  .header__dots {
    bottom: 68px;
    z-index: -1;
  }

  .about {
    max-width: 90%;
  }

  .about__title {
    max-width: 55%;
    font-size: 36px;
  }

  .about__description {
    font-size: 20px;
    max-width: 60%;
  }

  .about__server-pic {
    width: 50%;
    top: -96px;
    right: -6%;
  }

  .about__comp-pic {
    bottom: -160px;
    right: -5%;
    width: 34%;
  }

  .offer {
    max-width: 82%;
  }

  .offer__title {
    width: 100%;
  }

  .offer__dots-1 {
    right: -5%;
  }

  .offer__list {
    margin-top: -5px;
  }

  .features {
    min-height: 1400px;
    margin-bottom: 56px;
  }

  .features__picture {
    left: 0;
  }

  .features__list-item {
    width: 280px;
    height: 280px;
  }

  .features__number {
    font-size: 85px;
    top: -47px;
  }

  .features {
    background: url(./images/feature__background_extended.svg) no-repeat top 51% right 15%,
      url(./images/dots.svg) no-repeat top 117px left 59px;
  }

  .features__list-item_first {
    top: 160px;
    right: 140px;
  }

  .features__list-item_second {
    top: 480px;
    right: 50px;
  }

  .features__list-item_third {
    top: 568px;
    right: 390px;
  }

  .features__list-item_fourth {
    top: 736px;
    left: 22px;
  }

  .features__list-item_fifth {
    top: 961px;
    left: 439px;
  }

  .features__cloud-2 {
    bottom: 15%;
    width: 47%;
  }

  .features__dots {
    bottom: 12%;
    left: -12%;
    width: 26%;
  }

  .prices {
    background: url(./images/dots.svg) no-repeat top 52% left 6%,
      url(./images/dots.svg) no-repeat bottom 13% right 10%;
    padding-bottom: 30px;
  }

  .prices__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12%;
    min-height: 1490px;
  }

  .discount {
    margin-bottom: 130px;
  }

  .discount__title {
    margin-bottom: 40px;
  }

  .discount__text {
    margin-left: auto;
    margin-right: auto;
  }

  .discount__container {
    width: 90%;
    margin: 0 auto;
  }

  .discount__regular {
    width: 55%;
    height: 100px;
    font-size: 19px;
  }

  .discount__button {
    width: 42%;
    height: 70px;
  }

  .calculate__subtitle {
    text-align: center;
  }

  .footer__container {
    right: 0;
  }

  .footer__contacts {
    background: rgba(255, 255, 255, 0.7);
  }

  .popup__container {
    width: 80vw;
    height: 65vh;
  }

  .popup__content-container {
    margin-right: 58px;
    z-index: 2;
  }

  .popup__dots {
    width: 200px;
    left: 8%;
    top: 18%;
  }

}

@media screen and (max-width:1196px) {
  .calculate__list {
    grid-template-columns: repeat(auto-fill, 74%);
  }

  .calculate__form-container {
    position: relative;
    width: 53%;
  }

  .calculate__list-result {
    width: 110px;
    height: 110px;
    font-size: 40px;
  }

  .calculate__checkbox-form {
    display: grid;
    justify-items: center;
  }

  .calculate__button {
    margin: 63px auto 0;
  }

  .popup__man-pic {
    width: 42%;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    background: url(./images/dots.svg) no-repeat top 131px right 6%;
  }

  .header__container {
    margin-left: 28%;
  }

  .header__picture {
    right: 35%;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  .about__comp-pic {
    position: absolute;
    top: 348px;
    right: 158px;
    width: 272px;
  }

  .about__server-pic {
    position: static;
    width: 535px;
  }

  .about__title {
    max-width: 74%;
  }

  .about__description {
    max-width: 74%;
    text-align: justify;
  }

  .offer__contact {
    width: 100%;
  }

  .offer__title {
    padding: 46px 37px 37px 60px;
  }

  .offer__questions {
    width: 46%;
    padding: 18px 22px 18px 22px;
    font-size: 22px;
  }

  .features {
    background: url(./images/feature__background_extended_2.svg) no-repeat top 51% right 15%,
      url(./images/dots.svg) no-repeat top 117px left 150px;
  }

  .features__cloud-1 {
    width: 100%;
  }

  .features__cloud-2 {
    bottom: 23%;
  }

  .features__picture {
    width: 55%;
    left: -38px;
  }

  .features__title {
    right: -100px;
  }

  .features__text {
    font-size: 20px;
    line-height: 25px;
  }

  .features__list-item {
    width: 245px;
    height: 245px;
  }

  .features__number {
    font-size: 68px;
    top: -37px;
  }

  .features__list-item_first {
    right: 85px;
  }

  .features__list-item_second {
    top: 478px;
    right: 31px;
  }

  .features__list-item_third {
    top: 577px;
    right: 353px;
  }

  .features__list-item_fourth {
    top: 852px;
    left: 7px;
  }

  .features__list-item_fifth {
    top: 984px;
    left: 317px;
  }

  .features__number_fifth {
    right: 150px;
  }

  .prices__card {
    margin-top: 35px;
  }

  .discount__text {
    max-width: 88%;
  }

  .discount__regular {
    font-size: 15px;
    height: 80px;
  }

  .discount {
    margin-bottom: 100px;
  }

  .calculate__subtitle {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .calculate__title {
    font-size: 55px;
  }

  .calculate__form-container {
    width: 62%;
  }

  .footer {
    background: url(./images/cloud.png) no-repeat bottom -301px left -114px / 97%;
  }

  .footer__flex {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__form {
    z-index: 2;
    margin-bottom: 125px;
  }

  .footer__picture {
    width: 50%;
  }

  .footer__contacts {
    border: none;
    background: none;
    box-shadow: none;
    align-self: flex-end;
    align-items: flex-end;
    margin-right: 22px;
  }

  .footer__contacts::after {
    display: none;
  }

  .footer__address {
    text-align: end;
    max-width: 180px;
  }

  .popup__close-button {
    top: -20px;
    right: -20px;
  }

}

@media screen and (max-width: 768px) {}
