.page {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Actay, Arial, sans-serif;
  background: linear-gradient(90deg, #CBFFF6 0%, #81DECD 98.44%);
  box-sizing: border-box;
  color: #4D5164;
}

.header {
  position: relative;
  min-height: 904px;
  background: url(./images/cloud_top.png) no-repeat,
    url(./images/dots.svg) no-repeat top 131px left 504px;

}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 494px;
  height: 639px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  margin-left: 118px;
  z-index: 2;
}

.header__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(7.5px);
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  z-index: -1;
}

.header__logos {
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin-top: 47px;
  align-items: center;
}

.header__logo-1 {
  text-decoration: none;
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #4D5164;
}

.header__logo-2 {
  width: 57px;
  height: 28px;
}

.header__title {
  margin: 88px 0 0;
  max-width: 370px;
  font-weight: 700;
  font-size: 36px;
  line-height: 135.19%;
}

.header__title-right {
  float: right;
}

.header__subtitle {
  max-width: 312px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.header__button {
  font-weight: 700;
  font-size: 32px;
  line-height: 135.19%;
  width: 398px;
}

.button {
  padding: 0;
  border-radius: 45px;
  color: #FFF;
  border: none;
  cursor: pointer;
  height: 86px;
  margin-top: 64px;
  transition: background-color .5s ease;
}

.button_dark {
  background-color: #4D5164;
}

.button_dark:hover {
  background-color: #303964;
}

.header__picture {
  position: absolute;
  top: 60px;
  right: 34px;
  z-index: 0;
}
