@media screen and (max-width: 767px) {

  .header__mobile-container {
    margin-top: 195px;
    width: 87%;
    height: 147px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
    box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    border: 1px solid rgb(232, 250, 246);
    position: relative;
  }

  .header__mobile-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    z-index: -1;
  }
}
