.prices__card-value {
  margin: 0;
  width: 62px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 767px) {

  .prices__card-value {
    font-size: 14px;
    line-height: 17px;
  }
}
