.footer__address {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 135.19%;
  max-width: 337px;
}

@media screen and (max-width: 1023px) {

  .footer__address {
    text-align: end;
    max-width: 180px;
  }
}

@media screen and (max-width: 767px) {

  .footer__address {
    max-width: 163px;
    font-size: 12px;
    line-height: 135.19%;
  }
}
