.about__title {
  max-width: 566px;
  font-weight: 700;
  font-size: 40px;
  line-height: 135.19%;
  margin: 0 0 56px;
}

@media screen and (max-width: 1439px) {

  .about__title {
    max-width: 55%;
    font-size: 36px;
  }
}

@media screen and (max-width: 1023px) {

  .about__title {
    max-width: 74%;
  }
}

@media screen and (max-width: 767px) {

  .about__title {
    font-size: 28px;
    max-width: 284px;
    font-size: 20px;
    line-height: 135.19%;
    margin-top: -41px;
    margin-bottom: 37px;
  }
}
