.discount {
  max-width: 1124px;
  margin: 0 auto 157px;
}

@media screen and (max-width: 1439px) {

  .discount {
    margin-bottom: 130px;
  }
}

@media screen and (max-width: 1023px) {

  .discount {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {

  .discount {
    margin-bottom: 40px;
  }

  .discount::after {
    display: block;
    margin: 43px auto 0;
    content: '';
    width: 186px;
    height: 1px;
    border-bottom: 1px solid #4D5164;
  }
}
