.popup__close-button {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  background-color: transparent;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1023px) {

  .popup__close-button {
    top: -20px;
    right: -20px;
  }
}

@media screen and (max-width: 767px) {

  .popup__close-button {
    top: -21px;
    right: -15px;
    width: 24px;
    height: 24px;
  }
}
