.calculate__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  border-radius: 20px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent
}

.calculate__checkmark:hover {
  -webkit-box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
  box-shadow: -11px 23px 42px 20px rgba(0, 0, 0, 0.05);
}

.calculate__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 26%;
  top: -4%;
  width: 35px;
  height: 60px;
  border: solid #4D5164;
  border-width: 0 10px 10px 0;
  -webkit-transform: rotate(41deg);
  -ms-transform: rotate(41deg);
  transform: rotate(41deg);
}

@media screen and (max-width: 767px) {

  .calculate__checkmark {
    border-radius: 50px;
  }

  .calculate__checkmark::after {
    left: 33%;
    top: -17%;
    width: 22px;
    height: 40px;
    border-width: 0px 6px 6px 0;
  }
}
