.footer__picture {
  position: absolute;
  left: -122px;
  bottom: 0;
}

@media screen and (max-width: 1023px) {

  .footer__picture {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {

  .footer__picture {
    width: 64%;
    left: -72px;
  }
}
